<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book to the Library</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Add a Book to the Library</h1>
    <form action="/books" method="post" class="book-form">
        <div class="form-group">
            <label for="title">Enter Title of the Book:</label>
            <input type="text" id="title" name="title" required>
        </div>
        
        <div class="form-group">
            <label for="author">Authored By:</label>
            <input type="text" id="author" name="author" required>
        </div>
        
        <div class="form-group">
            <label for="year">Release Year:</label>
            <input type="number" id="year" name="year" required>
        </div>
        
        <button type="submit" class="btn">Add This Book</button>
    </form>
    <a href="/books" class="btn">Back</a>
</body>
</html>
